<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/program/' %} active {% endif %}"><a href="{{ "/program/" | absolute_url }}">Workshop Program</a></li>
  <li class="{% if page.url contains '/abstracts/' %} active {% endif %}"><a href="{{ "/abstracts/" | absolute_url }}">Abstracts</a></li>
  <li class="{% if page.url contains '/committees/' %} active {% endif %}"><a href="{{ "/committees/" | absolute_url }}">Committees</a></li>
  <li class="{% if page.url contains '/venue/' %} active {% endif %}"><a href="{{ "/venue/" | absolute_url }}">Venue</a></li>
  <li class="{% if page.url contains '/travel/' %} active {% endif %}"><a href="{{ "/travel/" | absolute_url }}">Travel</a></li>
  <li class="{% if page.url contains '/accommodation/' %} active {% endif %}"><a href="{{ "/accommodation/" | absolute_url }}">Accommodation</a></li>
</ul>
